@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
    flex: 0 1 auto;
    margin: 0.5rem;
    font-variation-settings:
        "FILL" 0,
        "wght" 400,
        "GRAD" 0,
        "opsz" 24;
}

.material-symbols-outlined:hover {
    font-variation-settings:
        "FILL" 0,
        "wght" 600,
        "GRAD" 0,
        "opsz" 24;
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}

.mealItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

.mealEntry {
    flex: 0 1 auto;
    vertical-align: middle;
}